#table1
{
	border:1px black solid;
	border-collapse:collapse;
	text-align:center;
	margin-left:325px;
	margin-top:28px;
}

{
	height:100%;
}
.img1
{
	width:9.5vw;	
}

.main01
{
	margin-top:375px;

}
.main02
{
	margin-top:50px;

}



td,tr,th
{
	border:1px black solid;
	padding:25px;
}

th
{
	background-color:gray;
}

tr
{
	background-color:skyblue;
}
body
{
	margin:0px;
	padding:0px;
}
.mix
{
	margin:0px;
	padding:0px;
	color:white;	
}

p
{
	font-family:Calibri Light;	
}

h1
{
	font-family:Arial Black;	
}

#header
{
	text-align:center;
	border:2px black solid;
	padding-top:15px;
	padding-bottom:15px;
	background-color:black;
}

#nav
{
	text-align:center;
	border:2px black solid;
	padding-top:15px;
	padding-bottom:15px;
	background-color:lightgray;
}

.#nav01
{

	padding-right:100px;	
}

.nav01
{
	padding-left:100px;	
}

#main
{
	display:flex;
	flex-direction:row:	

}


#main1
{
	border:2px black solid;
	width:10%;
	height:80.5vh;
}


#main2
{
	border:2px black solid;
	width:90%;
	height:80.5vh;
	padding:0px;
	margin:0px;
}

a:hover
{
	color:red;

}

a:active
{
	color:green;

}

a
{
	text-decoration-line:underline;
	text-decoration-color:lightgray;
	font-family:Algerian;
}

tr:hover
{
	color:white;
}

.tr:hover
{
	color:red;
}

#main_table2
{

}

.a1:hover
{
	color:red;

}

.a1:active
{
	color:yellow;

}

.a1
{
	text-decoration-line:underline;
	text-decoration-color:skyblue;
	font-family:Algerian;
	color:green;
}

